/*estilo global*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	

}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.mobile{
	max-width: 400px;

}

.grey {
	background-color: rgb(224, 224, 224)
}

.navbar {
	background-color: #0094DE;
	max-width: 400px;
	height: 70px;

	.fas {
		color: white;
		font-size: 130%;
		margin: 2%;

		p{
			font-size: 35%;
			text-align: center;
			vertical-align: text-bottom;
			margin-top: 3px;
		}
	}
}

.logoPrincipal {
	width: 40%;
	height: 10%;
}
/*estilo global*/

/*barra opciones (orden filtro mapa) */

.options {

	margin-top: 70px;
	padding: 10px;

	.btn{
		background: white;
	}

	.fas {
		font-size: 200px;
		font-size: 100%;
		margin-top: 3px;
		color: rgb(136, 135, 135);
	}
}

span {
	font-size: 90%;
	color: rgb(136, 135, 135);
}
/*barra opciones (orden filtro mapa) */


/*slidbar*/
.sidebar {
	height: 100%;
	width: 0;
	max-width: 400px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(245, 245, 245);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: #316AFF;
	border-left: 10px solid #316AFF;
	padding: 20px;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #444;
}

#main {
	transition: margin-left .5s;
	padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}

	.sidebar a {
		font-size: 18px;
	}
}

.sidebar {
	img {
		width: 5%;
		height: 5%;
	}
	h3 {
		font-size: 110%;
	}
	.tituloSidebar{
		font-weight: bolder;
		
	}
	.botonesSidebar{
		border-bottom: 1px solid rgb(143, 142, 142);
		font-size: 70%;
		padding: 20px;
		padding-left: 50px;

		img {
			position: absolute;
			left: 290px;
			width: 5%;
			height: auto;

		}
		
	}

}

/*sidebar*/


/*GoogleMaps*/
.map {
	height: 79.5%;
	width: 100%;
	max-width: 400px;
}


.sidebarMap {
	height: 100%;
	width: 0;
	max-width: 400px;
	position: fixed;
	z-index: 1;
	top: 130px;
	left: 0;
	background-color: rgb(224, 224, 224);
	overflow-x: hidden;
	transition: 1.3s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebarMap {
		padding-top: 15px;
	}

	.sidebarMap a {
		font-size: 18px;
	}
}

/*GoogleMaps*/

/*Product Cards*/

.card {
	border-radius: 7px;
	box-shadow: 2px 2px 15px #666;
	img {
		border-radius: 6px;
		width: 100%;
		height: 100%;
		
	}
	h2{
		font-size: 100%;
		font-weight: bolder;
	}

	.discount {
		width: 50px;
		height: 50px;
		color: rgb(255, 255, 255);
		font-size: 90%;
		background-color: #316AFF;
		border-radius: 7px;
		display: flex;
		justify-content: center;
		align-items: center;		
	}

	.price {
		color: rgb(235, 165, 35);
		font-size: 140%;
		font-weight: bolder;
		position: relative;
		top: -6px;
	}
	.spanTachado {
		font-size: 75%;
		position: relative;
		top: 28px;
		left: -70px;
		text-decoration:line-through;
		
	}
}

/*Product Cards*/








